<footer class="footer" id="footer">
    <div class="container">
        <p class="colophon text-center">site by 
            <a class="site-link" href="#">LaTorya</a>
        </p>
    </div>
</footer>
</body>
</html>