<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <header class="header" id="header">
        <h1><%= name %></h1>
        <nav> 
            <!-- make pages clickable -->
            <a href="/">home</a>
            <a href="/animation">animation</a>
            <a href="/classic">classic</a>
            <a href="/comedy">comedy</a>
            <a href="/drama">drama</a>
            <a href="/family">family</a>
            <a href="/horror">horror</a>
            <a href="/mystery">mystery</a>
        </nav>
        </div>
    </header>